@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

img {
    display: none;
}

body {
    background-image: url("../images/gameBackground.png");
    background-size: cover;
    background-repeat: no-repeat;
    // background-color: aqua;
}

canvas {
    display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
 
}



#game-buttons{
    margin-left: 40%;
    text-align: center;
}

#gameLogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

#logo-and-canvas{
    display: flex;
    align-items: center;
    position: relative;
}


.fa-linkedin, .fa-github {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
}
.fa-linkedin:hover {
    background-color: #0073a4;
}

.fa-github:hover {
    background-color: #6e5494;
}

.social-icon {
    color: #fff;
    font-size: 3rem;

}
.social-icons li {
    vertical-align: top;
    display: inline;
    // height: 200px;
}
.social-icons a {
    color: #fff;
    text-decoration: none;
}


#play-button {
    position: absolute;
    top: 60%;
    left: 70%;
    z-index: 1;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
  }